




/** BANNER */


#sliders .viewer
	{
		width: 257px;
		height: 160px;
		overflow: hidden;
	}

		#sliders .viewer .reel
		{
		display: none;
		height: 500px;
		}

		#sliders .viewer .reel .slide
		{
			position: relative;
			width: 257px;
			height: 156px;
		}
	
.slide h5{
	background:#000000; font:15px/30px dosis; color:#FFFFFF; 
	position:relative; top:-37px; width:233px; margin:0 auto; 
	height:30px; padding-left:10px
}		
		

		
		
		
		
